@import 'lbh-frontend/lbh/base';

.tabList {
  border-bottom: 1px solid lbh-colour('lbh-border');
  // margin-bottom: 2rem;
}

.tab {
  margin-top: 0;
  display: inline-block;
  margin-right: 20px;
  padding-bottom: 10px;
  &:last-of-type {
    margin-right: 0;
  }
}

.link,
button.link {
  border: none;
  text-decoration: none;
  color: lbh-colour('lbh-link');
}

.active {
  a,
  button {
    font-weight: 600;
  }
  border-bottom: 4px solid lbh-colour('lbh-link');
}

.panel {
  border: none;
  padding: 0;
}
