@import 'lbh-frontend/lbh/base';

.action {
  @include govuk-media-query($from: tablet) {
    margin-top: 0px;
  }

  & + .action {
    @include govuk-media-query($from: tablet) {
      margin-left: 15px;
    }
  }
}

.primaryAction svg {
  fill: white;
  margin-right: 10px;
}

.secondaryNav {
  border-top: 1px solid lbh-colour('lbh-grey-3');
  padding-top: 20px;

  li + li {
    margin-top: 0.5rem;
  }
}

.loadMoreButton {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// // make grid rows work with position: sticky
.outer {
  @include govuk-media-query($from: tablet) {
    display: flex;
  }
}

.sticky {
  @include govuk-media-query($from: tablet) {
    position: sticky;
    top: 25px;
  }
}

.unfinishedSubmissionsPanel {
  display: block;

  li p {
    margin-top: 0;
  }
}
