@import 'lbh-frontend/lbh/base';

.greenheading {
  border-bottom: 3px solid #00654f;
  padding-bottom: 15px;
  margin-bottom: 10px;
  color: #00654f !important;

  @include govuk-media-query(400px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
