.sectionTitle {
  display: flex;
  align-items: center;
  a {
    margin-left: 1rem;
  }
}

.summaryControls {
  display: flex;
  justify-content: flex-end;
}

.formattedTextArea {
  white-space: pre-line;
}
