@import 'lbh-frontend/lbh/base';

.list {
  *:first-child {
    margin-top: 0;
  }
}
.row {
  position: relative;
  background: #f8f8f8;
  // bottom margin greater to account for meter height
  margin-top: 0;
  margin-bottom: 3px;
  // force chrome to respect position: relative on table row
  transform: scale(1);

  @include govuk-media-query($from: tablet) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 1.5rem 20px 1.5rem;
  }
  * {
    margin-top: 0;
  }

  a {
    color: lbh-colour('lbh-link');
    position: relative;
    z-index: 2;
  }
}

.line {
  height: 1px;
  background-color: lbh-colour('lbh-grey-3');
  border: none;
}

.stats {
  div {
    margin-bottom: 3px;
    margin-top: 3px;
  }

  @include govuk-media-query($from: tablet) {
    display: grid;
    grid-template-columns: 1.8fr 1fr 1fr 0.2fr;
    gap: 70px;
    div {
      margin-bottom: 0px;
    }
  }

  dd {
    @include lbh-body-m;
  }

  dt {
    @include lbh-body-s;
    color: lbh-colour('lbh-secondary-text');
  }
}

// detail dialog content
.dl {
  dd {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
.meter {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: lbh-colour('lbh-grey-3');
}
