# ENV

# Endpoints
AWS_AUTHORIZATION=
AWS_KEY=
ENDPOINT_API=
ENDPOINT_MOSAIC=

# Hackney authorised Google user groups
GSSO_URL =
GSSO_TOKEN_NAME =
HACKNEY_JWT_SECRET =
AUTHORISED_ADMIN_GROUP=
AUTHORISED_ADULT_GROUP=
AUTHORISED_CHILD_GROUP=

# Hackney postcode lookup
POSTCODE_LOOKUP_URL=
POSTCODE_LOOKUP_APIKEY=

# E2E
CYPRESS_HOST=
CYPRESS_CHILDREN_RECORD_FIRST_NAME=
CYPRESS_CHILDREN_RECORD_LAST_NAME=
CYPRESS_CHILDREN_RECORD_FULL_NAME=
CYPRESS_ADULT_RECORD_FIRST_NAME=
CYPRESS_ADULT_RECORD_LAST_NAME=
CYPRESS_ADULT_RECORD_FULL_NAME=
CYPRESS_MOSAIC_ID_TEST=
CYPRESS_NAME_FOR_MOSAIC_ID_TEST=
CYPRESS_TEST_KEY_ADMIN_DEV=
CYPRESS_TEST_KEY_ADULT_GROUP=
CYPRESS_TEST_KEY_CHILDREN_GROUP=

#Redirect URL to run code locally
REDIRECT_URL=
