{
  // Note! Remove the comments before saving, otherwise it won't be valid JSON!

  // The ID of a restricted childrens resident (use `71`)
  "CHILDREN_RESTRICTED_RECORD_PERSON_ID": 0,

  // The ID for a childrens resident (use `19`)
  "CHILDREN_RECORD_PERSON_ID": 0,

  // The first name for a childrens resident (use `Cristobal`)
  "CHILDREN_RECORD_FIRST_NAME": "",

  // The last name for a childrens resident (use `Cawdell`)
  "CHILDREN_RECORD_LAST_NAME": "",

  // The full name for a childrens resident (use `Cristobal Cawdell`)
  "CHILDREN_RECORD_FULL_NAME": "",
  
  // The ID of a restricted adults resident (use `20`)
  "ADULT_RESTRICTED_RECORD_PERSON_ID": 0,
  
  // The ID for a childrens resident (use `7`)
  "ADULT_RECORD_PERSON_ID": 0,
  
  // The first name for an adults resident (use `Birgit`)
  "ADULT_RECORD_FIRST_NAME": "",
  
  // The last name for an adults resident (use `Gaylard`)
  "ADULT_RECORD_LAST_NAME": "",
  
  // The full name for a childrens resident (use `Birgit Gaylard`)
  "ADULT_RECORD_FULL_NAME": "",
  
  // The Mosaic ID used for testing (use `21`)
  "MOSAIC_ID_TEST": 0,
  
  // The name for the Mosaic ID defined in `MOSAIC_ID_TEST` (use `Estrella Kidman`)
  "NAME_FOR_MOSAIC_ID_TEST": "",
  
  // A valid JWT for an admin user
  "TEST_KEY_ADMIN_DEV": "",
  
  // A valid JWT for an adults user
  "TEST_KEY_ADULT_GROUP": "",
  
  // A valid JWT for an adults + allocators user
  "TEST_KEY_ADULT_ALLOCATOR_GROUP": "",
  
  // A valid JWT for an adults + unrestricted user
  "TEST_KEY_ADULT_UNRESTRICTED_GROUP": "",
  
  // A valid JWT for a childrens user
  "TEST_KEY_CHILDREN_GROUP": "",
  
  // A valid JWT for a childrens unrestricted user
  "TEST_KEY_CHILDREN_UNRESTRICTED_GROUP": ""
}
