@import 'lbh-frontend/lbh/base';

.navLink,
.navLinkActive {
  display: inline-block;
  margin-bottom: 0.25rem;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  @include govuk-media-query($from: tablet) {
    font-size: 1.2rem;
  }
}

.navLinkActive {
  font-weight: $lbh-font-weight-bold;
}

// make grid rows work with position: sticky
.outer {
  @include govuk-media-query($from: tablet) {
    display: flex;
  }
}

.sticky {
  @include govuk-media-query($from: tablet) {
    position: sticky;
    top: 25px;
  }
}
