@import 'lbh-frontend/lbh/base';

.button {
  all: unset;
  text-decoration: underline;
  cursor: pointer;
  color: lbh-colour('lbh-secondary-text');
  @include lbh-link;
  @include govuk-link-style-muted;
}

.summaryList {
  dd,
  dt {
    @include lbh-body-s;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
