@import 'lbh-frontend/lbh/base';

.navLink,
.navLinkActive {
  display: inline-block;
  margin-bottom: 0.25rem;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  @include govuk-media-query($from: tablet) {
    font-size: 1.2rem;
  }
}

.navLinkActive {
  font-weight: $lbh-font-weight-bold;
}

.secondary {
  margin-top: 0.5rem;
  @include lbh-body-s;
}
