@import 'lbh-frontend/lbh/base';

.list {
  list-style: none;
  margin-top: 0.75rem;

  li {
    font-size: 0.9rem;
    font-weight: 600;
    padding: 0px 5px;
    margin-top: 0;
    margin-right: 7px;

    &:last-child {
      margin-right: 0;
    }
  }
}
