
.AdminNavBar {
    text-align: right;


    .navList {
        list-style-type: none;
        display: flex;
        justify-content: flex-end;
    }

    .navListItem {
        margin-left: 20px

    }
}