.outer {
  p:first-child {
    margin-top: 0;
  }
  p:last-of-type {
    margin-bottom: 0;
  }
}

.button {
  margin-top: 10px;
  display: block;
  padding: 0;

  svg {
    margin-right: 7px;
  }

  &[aria-expanded='true'] svg {
    transform: rotate(180deg);
  }
}
