@import 'node_modules/govuk-frontend/govuk/base';

.container {
  margin: 0;
}

.note {
  margin-bottom: 2rem;
  @include govuk-media-query($from: tablet) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.noteDetails {
  display: grid;
  grid-template-columns: 14rem 1fr;
  grid-row-gap: 0.5rem;
  margin-bottom: 1rem;

  dt {
    font-weight: bold;
  }

  dd,
  dt {
    margin-top: 0;
  }
}
