$lbh-global-styles: true;
$lbh-asset-path: '~lbh-frontend/lbh/assets';

@import 'node_modules/lbh-frontend/lbh/all';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&amp;display=swap');

$screen-sm-min: 576px;

* {
  font-family: Open Sans, Arial, sans-serif !important;
}

[role='button'] {
  cursor: pointer;
}

.govuk-required {
  color: #d21b1b;
}

.govuk-table__row--clickable:hover {
  background: govuk-colour('light-grey');
  cursor: pointer;
}

.govuk-input:disabled {
  background: govuk-colour('light-grey');
}

.govuk--timestamp {
  font-weight: 600;
}

.gov-weight-lighter {
  font-weight: 100;
}

.govuk-custom-text-color {
  color: #01674e;
}

.govuk-divider {
  border: solid 2px #01674e;
}

.govuk-warning {
  color: #da3711;
}

.govuk-link-button {
  min-width: 210px;
  padding: 10px 0;
}

.govuk-button {
  border-radius: 4px;
}

.lbh-table-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  button {
    margin-bottom: 0.5rem;
  }
}

.lbh-table__cell--va-middle {
  vertical-align: middle;
}

.cancel-icon {
  width: 20px;
  height: 20px;
  top: 5px;
  position: relative;
  cursor: pointer;
}

.clear-icon {
  width: 13px;
  height: 13px;
  top: 7px;
  position: relative;
  cursor: pointer;
}

.down-arrow-icon {
  width: 15px;
  height: 15px;
  top: 7px;
  position: relative;
  cursor: pointer;
}

.ReactModal__Body--open {
  overflow: hidden;
}

.govuk-back-link,
.govuk-link {
  color: $govuk-link-colour;
}

.govuk-back-link:hover,
.govuk-link:hover {
  text-decoration: underline;
  color: $govuk-link-hover-colour;
}

.govuk-link--underline {
  text-decoration: underline;
}

button.govuk-link {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

#clear-link {
  margin-left: 1rem;
  padding-top: 1rem;
}

.width-override-10 {
  max-width: 23ex;
}

.width-override-20 {
  max-width: 41ex;
}

.width-override-30 {
  max-width: 59ex;
}

.govuk-error-summary__title {
  color: govuk-colour('red');
}

.govuk-error-summary {
  border: 1px solid govuk-colour('red');
  border-left-width: 5px;
  background-color: #f8ecea;
}

.govuk-heading-l {
  font-weight: 600;
}
