$lbh-global-styles: true;
$lbh-asset-path: '~lbh-frontend/lbh/assets';
$govuk-page-width: 1100px;

@import 'node_modules/lbh-frontend/lbh/all';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&amp;display=swap');

$screen-sm-min: 576px;

body {
  margin-right: 0px !important;
}

* {
  font-family: Open Sans, Arial, sans-serif !important;
}

#__next {
  margin-top: 0;
}

// fix spacing of brand lines
.lbh-header {
  padding-bottom: 1rem;
}

[role='button'] {
  cursor: pointer;
}

// fix tip label placement
.tippy-box[data-placement^='bottom'] > .tippy-arrow {
  top: -31px;
}

.govuk-required {
  color: #d21b1b;
}

.govuk-table__row--clickable:hover {
  background: govuk-colour('light-grey');
  cursor: pointer;
}

.govuk-input:disabled {
  background: govuk-colour('light-grey');
}

.govuk--timestamp {
  font-weight: 600;
}

.govuk-custom-text-color {
  color: #01674e;
}

.govuk-divider {
  border: solid 2px #01674e;
}

.govuk-warning {
  color: #da3711;
}

.govuk-link-button {
  min-width: 210px;
  padding: 10px 0;
}

.govuk-button {
  border-radius: 4px;
}

.lbh-table-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  button {
    margin-bottom: 0.5rem;
  }
}

.lbh-table__cell--va-middle {
  vertical-align: middle;
}

.cancel-icon {
  width: 20px;
  height: 20px;
  top: 5px;
  position: relative;
  cursor: pointer;
}

.clear-icon {
  width: 13px;
  height: 13px;
  top: 7px;
  position: relative;
  cursor: pointer;
}

.down-arrow-icon {
  width: 15px;
  height: 15px;
  top: 7px;
  position: relative;
  cursor: pointer;
}

#clear-link {
  margin-left: 1rem;
  padding-top: 1rem;
}

.width-override-10 {
  max-width: 23ex;
}

.width-override-20 {
  max-width: 41ex;
}

.width-override-30 {
  max-width: 59ex;
}

.govuk-error-summary__title {
  color: govuk-colour('red');
}

.govuk-error-summary {
  border: 1px solid govuk-colour('red');
  border-left-width: 5px;
  background-color: #f8ecea;
}

// keep back links the normal colour
.lbh-back-link {
  &:visited {
    color: lbh-colour('lbh-link');
  }
  &:hover,
  &:active {
    color: lbh-colour('lbh-text');
  }
}

// turn off frustrating smooth scroll
html {
  scroll-behavior: initial;
}

// space out form groups a little more
.lbh-form-group + .lbh-form-group {
  @include govuk-media-query($from: tablet) {
    margin-top: 2rem;
  }
}
.lbh-form-group + .lbh-button {
  @include govuk-media-query($from: tablet) {
    margin-top: 2.5rem;
  }
}

// fix vertical padding on date input
input[type='date'],
input[type='time'] {
  padding: 0 5px;
}

// fix appearence of labels where there is a background colour
.govuk-radios__label:before,
.govuk-checkboxes__label:before {
  background: lbh-colour('lbh-white');
}

// dialog styles
:root {
  --reach-dialog: 1;
}
[data-reach-dialog-overlay] {
  background: hsla(0, 0%, 0%, 0.33);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
}
[data-reach-dialog-content] {
  width: 50vw;
  margin: 10vh auto;
  background: white;
  padding: 2rem;
  outline: none;
}

// fix header z-index so it plays nice with dialogs
.lbh-header {
  z-index: inherit;
}

// fix placement of dialog close button
.lbh-dialog {
  &__close {
    margin-top: 0;
  }
}

// fix behaviour of width override classes on combobox and tags fields
.govuk-input--width-20 {
  max-width: 26rem;
}
.govuk-input--width-10 {
  max-width: 14.5rem;
}

// fix ugly line breaks on person details and submission panels
.govuk-summary-list__value {
  br,
  a,
  button {
    margin: 0;
  }
}

// fix double-sidebar effect we see when dialogs are open
.govuk-template {
  overflow-y: initial;
}

// fix tab spacing{
.js-enabled .govuk-tabs__list-item--selected {
  padding-bottom: 11px;
}
