@import 'node_modules/govuk-frontend/govuk/all';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

$screen-sm-min: 576px;

html.lbh-template > body.lbh-template__body * {
  font-family: 'Montserrat', sans-serif;
}

.govuk-header__container {
  border-bottom-color: #00513f;
}

.govuk-tag:not([class*='govuk-tag--']) {
  background-color: #00513f;
}

.lbh-header__container {
  display: flex;
  align-items: center;
}

.lbh-header__logotype {
  svg {
    width: 100%;
    max-width: 12rem;
    padding-top: 0.25rem;
  }
}

.lbh-table__row--data:hover {
  cursor: pointer;
  background-color: rgb(233, 246, 252);
}

.govuk-required {
  color: #d21b1b;
}

.govuk-breadcrumbs__link.current,
.govuk-breadcrumbs__link.completed {
  color: #1b74d2;
}

.govuk-breadcrumbs__link.current {
  font-weight: 600;
}

.govuk-table__row--clickable:hover {
  background: govuk-colour('light-grey');
  cursor: pointer;
}
