@import 'node_modules/govuk-frontend/govuk/all';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&amp;display=swap');

$screen-sm-min: 576px;

* {
  font-family: Open Sans, Arial, sans-serif !important;
}

.govuk-tag:not([class*='govuk-tag--']) {
  background-color: #00513f;
}

.govuk-required {
  color: #d21b1b;
}

.govuk-table__row--clickable:hover {
  background: govuk-colour('light-grey');
  cursor: pointer;
}

.govuk-input:disabled {
  background: govuk-colour('light-grey');
}

.govuk--timestamp {
  font-weight: 600;
}

.gov-weight-lighter {
  font-weight: 100;
}

.govuk-custom-text-color {
  color: #01674e;
}

.govuk-divider {
  border: solid 2px #01674e;
}

.govuk-warning {
  color: #da3711;
}

.govuk-link-button {
  min-width: 210px;
  padding: 10px 0;
}

.govuk-button {
  border-radius: 4px;
}

.lbh-table-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
