@import 'node_modules/govuk-frontend/govuk/base';
@import 'node_modules/govuk-frontend/govuk/components/header/header';

.govuk-header {
  position: relative;
  z-index: 4;
  margin-top: 0;
  padding-bottom: 21px;
  padding-bottom: 1.3125rem;
  border-bottom: 2px solid #84bd00;
  background: #ffffff;
}

.lbh-header__main * + * {
  margin-top: 0;
}

.govuk-header__navigation-item a,
.govuk-header__link--service-name {
  font-weight: 600;
}

@include govuk-media-query($from: tablet) {
  .lbh-header__main {
    padding: 0.5rem 0rem 0rem;
  }
  .govuk-header__logo {
    padding-top: 1rem;
    margin-bottom: 14px;
  }
  .govuk-header__link--service-name {
    margin-bottom: 0;
  }
}
