@import 'lbh-frontend/lbh/base';

.heading {
  border-bottom: 3px solid lbh-colour('lbh-text');
  padding-bottom: 15px;
  margin-bottom: 10px;

  a,
  button {
    display: block;
    margin-top: 1rem;
    @include lbh-body-m;
  }

  @include govuk-media-query(400px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    a,
    button {
      margin-top: 0;
    }
  }
}

.redirectBanner{
  background-color: lbh-colour('lbh-primary-focus');
  border: solid lbh-colour('lbh-f03') 5px;
  padding-left: 20px ;
}
