.modal {
  position: absolute;
  width: 90%;
  max-width: 960px;
  margin: 0;
  background-color: #fff;
  border-radius: 0.3rem;
  box-shadow: 0 0 2.5rem rgba(0, 0, 0, 0.5);
  top: 50%;
  left: 50%;
  text-align: left;
  transform: translate(-50%, -50%);
  & > div {
    padding: 2.5rem;
    overflow: auto;
    max-height: 90vh;
  }
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}

.closeButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: none;
  padding: 0;
  background: none;
}
