@import 'node_modules/govuk-frontend/govuk/base';

.withConditionalGuides {
    border-left: 0.75rem solid #DEE0E2;
    padding-left: 1.5rem;
    margin-left: 13px;

  & + & {
    padding-top: 20px;
    margin-top: -20px;
    @include govuk-media-query($from: tablet) {
      padding-top: 30px;
      margin-top: -30px;
    }
  }
}
