@import 'lbh-frontend/lbh/base';

.combobox {
  margin-top: 0;
  position: relative;
}

.input {
  padding-right: 45px;
}

.button {
  cursor: pointer;
  margin-top: 0;
  position: absolute;
  right: 2px;
  top: 2px;
  bottom: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  width: 35px;
  &:focus {
    outline: none;
    background: lbh-colour('lbh-primary-focus');
  }
}

.list {
  box-sizing: border-box;
  background: lbh-colour('lbh-white');
  border: 2px solid lbh-colour('lbh-text');
  position: absolute;
  top: 14px;
  left: 0px;
  width: 100%;
  list-style: none;
  z-index: 2;
  max-height: 300px;
  overflow-y: auto;

  &:empty {
    border: none;
  }
}

.option {
  margin-top: 0;
  @include lbh-body-m;
  padding: 5px 10px;
  line-height: 1.2;

  &[aria-selected='true'] {
    background: lbh-colour('lbh-link');
    color: lbh-colour('lbh-white');
  }
}

.noResults {
  padding: 5px 10px;
  @include lbh-body-m;
  color: lbh-colour('lbh-secondary-text');
}
