@import 'node_modules/govuk-frontend/govuk/base';

.container {
  margin: 0;
}

.caseStatusDesign {
  border-top: 10px solid #f8e08e;
  background-color: #f8f9f9;
  padding: 10px 20px 1px;
}

.casenote {
  margin-bottom: 2rem;
  @include govuk-media-query($from: tablet) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.casenoteDetails {
  display: grid;
  grid-template-columns: 14rem 1fr;
  grid-row-gap: 0.5rem;
  margin-bottom: 1rem;

  dt {
    font-weight: bold;
  }

  dd,
  dt {
    margin-top: 0;
  }
}
