@import 'node_modules/govuk-frontend/govuk/base';

.caseStatusDesign {
  border-top: 10px solid #f8e08e;
  padding: 0 20px 0;
  font-family: 'Open Sans';
  background-color: #fefcf4;
}

.selectedTitles {
  font-weight: bold;
}

.align {
  display: flex;
  align-items: flex-start;
}

.dateElement {
  padding-left: 5px;
  font-weight: normal;
  font-size: 14px;
  color: #525A5B;
}

.typeStyling {
  font-size: 19px;
}
