@import 'node_modules/govuk-frontend/govuk/base';

.align {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 5px 0px 0px 0px;

  p {
    margin-top: 0;
  }
}

.popupTitle {
  font-weight: bold;
  margin-bottom: 0px;
}

.statusTag {
  background-color: #f8e08e;
  color: #0b0c0c;
  padding: 3px 6px;
  display: flex;
  justify-content: center;
  margin-right: 5px;
  font-weight: 600;
}
